body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	background-color: #efefef;
}

#main-content {
	height: 1000px;
	padding: 40px;
	width: 80%;
	background-color: #ede6db;
	border: 1px solid #000;
	/* margin: 20px; */
	overflow: hidden;
}
#main-header {
	margin-top: 40px;
	margin-bottom: 40px;
}

#menu-title {
	padding: 30px 0;
}
a .navbar-brand {
	font-size: 1.75em;
}
